<div class="container">

  <div class="row">
    <div class="col-md-8 col-xs-8">
      <img id="logo" src="/assets/img/BURGER_TEXT.jpg">
    </div>
    <div id="two" class="col-md-4 col-xs-4">
      <h1 id="twoText">2.0</h1>
    </div>
  </div>

  <div id="newBurger" class="row">

      <h2>Create A New Burger</h2>

      <form class="create-form">

        <div class="form-group">
          <label for="ca"><h3>Burger Name:</h3></label>
          <input type="text" id="name" name="name">

          <button id="submitBtn" class="btn btn-default" type="submit">Add Burger</button>
        </div>

      </form>

  </div>

  <div class="row">

    <div class="col-md-6">
      <h2 class="header">Available Burgers</h2>
      <div class="burgerContainer">
    
        <div class="list">

            <ol>
              {{#each burgers}}
                {{#unless devoured}}
                  <li>
                    <img src=/assets/img/burger.jpg alt="burger" height="55" width="60">
                    {{this.burger_name}}
                    <button id = {{this.id}} class = "btn btn-default devourBtn">Devour</button>
                  </li>
                {{/unless}}
              {{/each}}
            </ol>

          </div>

      </div>

    </div>

    <div class="col-md-6">
      <h2 class="header">Devoured Burgers</h2> 
      <div class="burgerContainer">    

        <div class="list">

          <ol>
            {{#each burgers}}
              {{#if devoured}}
                <li>
                  <img src=/assets/img/burger.jpg alt="burger" height="55" width="60">
                  {{this.burger_name}}
                </li>
              {{/if}}
            {{/each}}
          </ol>

        </div>
      </div>

    </div>

  </div>

</div>