.burgerContainer{
	text-align: left;
}

.header{
	margin-bottom: 20px !important; 
}

input{
	border: solid 1px #ccc !important
	line-height: 3% !important;
	margin-left: 1% !important; 
}

#logo{
	width: 55%;
	height: 25%;
	margin-top: 10px;
	float: right;
}

li{
	display: block;
	margin: 10px;
	/*text-align: left;*/
	font-size: 22px;
}

.container{
	text-align: center;
}

#submitBtn{
	margin-top: -.5%;
}

#twoText{
	/*float: left;*/
	font-weight: 900;
	font-size: 90px !important;
}

#two{
	text-align: left;

	/*color: #f5f50a;*/
	/*color: gray;*/
}